parameter.redis.nonce_hosturl.value: 127.0.0.1
parameter.redis.nonce_database_index.value: 0
parameter.redis.nonce_port.value: 6379
parameter.redis.nonce_key_ttl_in_days.value: 2

parameter.redis.authentication_hosturl.value: 127.0.0.1
parameter.redis.authentication_database_index.value: 1
parameter.redis.authentication_port.value: 6379
parameter.redis.authentication_key_ttl_in_days.value: 1

driver:  com.mysql.jdbc.Driver
classpath:  ./lib/mysql-connector-java-5.1.36/mysql-connector-java-5.1.36-bin.jar
url: jdbc:mysql://localhost/demo
username: root
password: admin
